/* main fonts import starts */

@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

:root {
  --Red: #e43a47;
  --gray: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
}

/* main fonts import ends */

/* Homesection starts */

.fullhomesection {
  width: 100%;
}

.banner {
  width: 1140px;
  margin: auto;
}

#headersection {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}

#headersection .banner {
  display: flex;
  justify-content: space-between;
}

#headersection .banner .logo {
  padding: 10px 0;
  height: 100px;
}

#headersection .banner .logo img {
  height: 100%;
}

#headersection .banner nav ul {
  list-style: none;
}

#headersection .banner nav ul li {
  display: inline-block;
}

#headersection .banner nav ul li a {
  display: inline-block;
  height: 75px;
  line-height: 90px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}

#headersection .banner nav ul li a:hover {
  background-color: var(--Red);
}

.header {
  min-height: 100vh;
  width: 100%;
  background-position: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.header h1 {
  margin-top: 230px;
  display: inline-block;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 0 02px #000;
  width: 50%;
  line-height: 4.2rem;
  font-weight: 100;
}

.header h1 span {
  background-color: var(--Red);
  display: inline-block;
  line-height: 3.5rem;
  padding: 0 15px;
  font-weight: 600;
  border-radius: 5px;
}

.header p {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  width: 50%;
  text-shadow: 0 0 02px #000;
  margin-top: 10px;
}

.header button {
  background-color: var(--Red);
  border: 0;
  outline: none;
  color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 600;
}

.imageofcollage img {
  margin-top: 230px;
  width: 75%;
  height: 75%;
}
.grid {
  padding-left: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Homesection ends */
